<app-menu-title title="Feedback"></app-menu-title>

<ion-content padding>
  <ion-text>
    We are highly appreciating feedback about the application. You can send us feature request, bug
    report or anything related to the application
  </ion-text>
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select what kind of feedback you are providing</ng-template>
        <mat-form-field>
          <mat-label>Type of feedback</mat-label>
          <mat-error *ngIf="firstFormGroup.controls['firstCtrl']">
            Select type of feedback
          </mat-error>
          <mat-select formControlName="firstCtrl">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Give us details</ng-template>
        <mat-form-field style="width:100%">
          <mat-error *ngIf="secondFormGroup.controls['firstCtrl']">
            Please elaborate more about the feedback
          </mat-error>
          <textarea matInput placeholder="Details" formControlName="firstCtrl" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious color="warn" style="margin-right: 2rem;">
            Back
          </button>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      Submit your feedback
      <div style="padding: 5px;">
        <button mat-raised-button matStepperPrevious color="primary">
          Back
        </button>
        <button mat-raised-button matStepperPrevious color="accent" (click)="submitFeedback()">
          Submit
        </button>
        <button mat-raised-button (click)="stepper.reset()" color="warn">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>
