<ion-content>
  <div padding>
    <div>
      Overdues
    </div>
    <ion-card class="borrowing-card overdue" *ngFor="let borrowing of overdues">
      <ion-card-header>
        <ion-card-title>{{ borrowing.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: flex;justify-content: space-between">
          <div>
            <span>Issue Date : </span>
            <span>{{ borrowing.issuedate }}</span>
          </div>
          <div>
            <span>Due Date : </span>
            <span>{{ borrowing.date_due }}</span>
          </div>
        </div>
        <div>
          <span>Number of days overdue : </span>
          <span> 25 </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div padding>
    <div>Borrow list</div>
    <ion-card class="borrowing-card safe" *ngFor="let borrow of borrowings">
      <ion-card-header>
        <ion-card-title>{{ borrow.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div style="display: flex;justify-content: space-between">
          <div>
            <span>Issue Date : </span>
            <span>{{ borrow.issuedate }}</span>
          </div>
          <div>
            <span>Due Date : </span>
            <span>{{ borrow.date_due }}</span>
          </div>
        </div>
        <div>
          <span>Number of days overdue : </span>
          <span> 25 </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
