<app-menu-title title="Transfer book"></app-menu-title>

<ion-content padding>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select a book for transfer</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ion-card id="qrcode">
        <ngx-qrcode [qrc-value]="getTitle()"></ngx-qrcode>
      </ion-card>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <ion-button id="scan-button" color="danger" (click)="scanForQR()" size="large">
    <ion-icon slot="start" name="camera"></ion-icon>
    SCAN
  </ion-button>
</ion-content>
