<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm">
    <mat-form-field class="formField">
      <input matInput placeholder="Email" formControlName="userEmail" style="display: block" />
      <mat-hint>Place your University Email</mat-hint>
      <mat-error *ngIf="checkFormControlIsValid('userEmail')">{{
        getErrorMessage('userEmail')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field class="formField">
      <input
        matInput
        placeholder="Password"
        formControlName="userPassword"
        style="display: block"
        type="password"
      />
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="checkFormControlIsValid('userPassword')">{{
        getErrorMessage('userPassword')
      }}</mat-error>
    </mat-form-field>
  </form>
</ion-content>
<ion-footer>
  <div>
    <ion-button expand="full" (click)="loginAction()">Login</ion-button>
    <ion-button expand="full" color="danger" href="/signup">Sign Up</ion-button>
  </div>
</ion-footer>
