.toolbar {
  background-color: '#fe5200';
}

.formField {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 200px) {
  #login-image {
    width: 80%;
    height: auto;
  }
}

#card {
  height: 100%;

  background-color: white;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  #login-image {
    width: 50%;
    height: auto;
  }
  #card {
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  #login-image {
    width: 40%;
    height: auto;
  }
}
ion-content {
  --background: linear-gradient(to right, #056571, #649173);
}
