<ion-content class="ion-padding">
  <div>
    <div id="library-logo">
      <img src="../assets/img/library_logo.png" alt="libri" id="login-image" />
    </div>
    <p class="library-description">
      The University of Kelaniya Library was Crystallized around the Vidyalankara Pirivena
      Collection with the elevation of the Pirivena to a fully pledged University status in 1959.
      Throughout its existence, the library was located in several places and finally moved to its
      present building in 1977.
    </p>
    <p class="library-description">
      The present library collection encompasses over 230,000 books pertaining to various academic
      disciplines ranging from Archaeology to Zoology and subscriptions to about 150 academic
      journals. Further, the library provides electronic access to full- text databases through the
      terminals located in the Library.
    </p>
  </div>
</ion-content>
