<app-menu-title title="Request Book"></app-menu-title>

<ion-content padding>
  <ion-text>
    We are willing to gather your requests and obtain the latest, best and most demanding books. You
    can provide the details of the book including
    <b>Book title, Author, Edition, Publisher, ISBN, Image</b>
  </ion-text>

  <ion-card
    padding
    style="min-height: 80vh;display:flex;flex-direction: column;align-content: space-between"
  >
    <form [formGroup]="requestForm">
      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter Title of Book</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        <mat-error *ngIf="checkFormControlIsValid('title')">{{
          getErrorMessage('title')
        }}</mat-error>
      </mat-form-field>
      <div style="display: flex;align-items: center;">
        <div style="width: 80%" formArrayName="authors">
          <div *ngFor="let author of authors.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline" style="display: block">
              <mat-label>Authors</mat-label>
              <input matInput placeholder="authors" formControlName="author" on />
              <mat-error *ngIf="checkFormControlIsValid('authors')">{{
                getErrorMessage('authors')
              }}</mat-error>
            </mat-form-field>
            <ion-button *ngIf="authors.controls.length > 1" (click)="removeAuthor()"
              >Delete</ion-button
            >
          </div>
        </div>
        <div style="width: 20%">
          <ion-button size="small" style="float: right" (click)="addAuthor()">add</ion-button>
        </div>
      </div>
      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter Category</mat-label>
        <input matInput placeholder="Category" formControlName="category" />
        <mat-error *ngIf="checkFormControlIsValid('category')">{{
          getErrorMessage('category')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter ISBN</mat-label>
        <input matInput placeholder="ISBN" formControlName="ISBN" />
        <mat-error *ngIf="checkFormControlIsValid('ISBN')">{{ getErrorMessage('ISBN') }}</mat-error>
      </mat-form-field>
      <mat-form-field style="display: block" appearance="outline">
        <mat-label>Enter Description</mat-label>
        <input matInput placeholder="description" formControlName="description" />
        <mat-error *ngIf="checkFormControlIsValid('description')">{{
          getErrorMessage('description')
        }}</mat-error>
      </mat-form-field>
    </form>
    <app-fileupload></app-fileupload>
    <div>
      <ion-button
        color="danger"
        [disabled]="requestForm.invalid"
        (click)="onSubmit()"
        class="ion-float-right"
      >
        Submit
      </ion-button>
    </div>
  </ion-card>
</ion-content>
