<ion-content padding>
  <ion-text>
    Please consider this service is highly depending on library authority. They have the full right
    to accept the fines. Please contact your library before initiating the payment. The penalty
    payment may be rejected depending on various reasons.
  </ion-text>
  <div>
    <div style="padding-bottom: 2vh;padding-top:10px;font-weight: bold">Overdues</div>
    <div class="wrapper">
      <ion-card padding>
        <ion-card-title>Harry potter & Deathly Hallows</ion-card-title>
        <ion-card-subtitle class="subtitle">
          <div>
            <span>Issue : </span>
            <span>2019/05/05</span>
          </div>
          <div>
            <span>Return: </span>
            <span>2019/05/21</span>
          </div>
        </ion-card-subtitle>
        <hr />
        <ion-card-content
          style="display: flex;justify-content: space-between;padding: 0;align-items: flex-end"
        >
          <div>
            <div>
              <span> Type : </span>
              <span> Over due </span>
            </div>
            <div>
              <span> No of days : </span>
              <span> 30 </span>
            </div>
          </div>
          <div>
            <ion-button shape="round" (click)="checkout($event)">
              <ion-icon slot="start" name="cash"></ion-icon>
              Rs.250.47
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <mat-expansion-panel style="margin-top: 2vh;padding: 0;" expanded>
    <mat-expansion-panel-header style="background-color: #056571;color: white">
      File a book-lost
    </mat-expansion-panel-header>
    <mat-panel-description style="background-color: white;">
      <div>
        <ion-text style="padding-top: 5px">
          Select a borrowed book to file a <b>Book Lost request</b>. The library administrative have
          to accept the request and after that only you can pay the penalty using that book. Please
          consider the <b>Penalty</b> may exceed the book value and it will add extra charges if it
          is overdue and depending on the book
        </ion-text>
        <ion-list>
          <ion-item *ngFor="let borrowing of borrowings">
            <ion-label>{{ borrowing.title }}</ion-label>
            <ion-checkbox (click)="displayConfirmationMessage()"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</ion-content>
