<ion-content padding>
  <div>
    <ion-text style="padding-bottom: 5px;">Late returns</ion-text>
    <div class="wrapper">
      <ion-card padding>
        <ion-card-title>Harry potter & Deathly Hallows</ion-card-title>
        <ion-card-subtitle class="subtitle">
          <div>
            <span>Issue date : </span>
            <span>2019/05/05</span>
          </div>
          <div>
            <span>Return date : </span>
            <span>2019/05/21</span>
          </div>
        </ion-card-subtitle>
        <ion-item-divider></ion-item-divider>
        <ion-card-content style="display: flex;justify-content: space-between;">
          <div>
            <div>
              <span> Type : </span>
              <span> Over due </span>
            </div>
            <div>
              <span> No of days : </span>
              <span> 30 </span>
            </div>
          </div>
          <div>
            <span> Penalty amount : </span>
            <span> <button class="square_btn">Rs.350.65</button> </span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
