<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button id="back-button" routerLink="../"
        ><ion-icon name="arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="signupForm">
    <mat-form-field style="display: block">
      <mat-label>Enter your University email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="checkFormControlIsValid('email')">{{ getErrorMessage('email') }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <mat-label>Enter your Library ID</mat-label>
      <input matInput placeholder="Library ID" formControlName="libraryId" on />
      <mat-error *ngIf="checkFormControlIsValid('libraryId')">{{
        getErrorMessage('libraryId')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="display: block">
      <input
        matInput
        placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="checkFormControlIsValid('password')">{{
        getErrorMessage('password')
      }}</mat-error>
    </mat-form-field>

    <mat-form-field style="display: block" appearance="outline">
      <input matInput placeholder="Name with initials" formControlName="displayName" />
      <mat-error *ngIf="checkFormControlIsValid('displayName')">{{
        getErrorMessage('displayName')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block" appearance="outline">
      <input matInput placeholder="Contact Number" formControlName="telephoneNumber" />
      <mat-error *ngIf="checkFormControlIsValid('telephoneNumber')">{{
        getErrorMessage('telephoneNumber')
      }}</mat-error>
    </mat-form-field>
    <ion-button type="submit" color="danger" [disabled]="signupForm.invalid" (click)="onSubmit()"
      >Register</ion-button
    >
  </form>
</ion-content>
