<ion-content>
  <ion-card>
    <ion-card-header class="book-card">
      <img [src]="book.url" alt="libri" class="book-image" />
      <div class="book-header">
        <div class="book-title">{{ book.title }}</div>
        <div class="book-author">{{ book.author }}</div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="12" sizeXl="4"><ion-text class="title">Availability</ion-text></ion-col>
          <ion-col sizeXs="12" sizeXl="8">
            <div *ngIf="availability !== ''" style="display: flex;align-items: center">
              <span class="dot-unavailable"></span>Back by : {{ availability }}
            </div>
            <div *ngIf="availability === ''">
              <span class="dot-available"> </span>
              Available
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeXl="4"><ion-text class="title">Description</ion-text></ion-col>
          <ion-col sizeXs="12" sizeXl="8">
            {{ book.abstract }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeXl="4">
            <ion-text class="title">Copyright date</ion-text>
          </ion-col>
          <ion-col sizeXs="12" sizeXl="8">
            {{ book.copyrightdate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXs="12" sizeXl="4">
            <ion-text class="title">ISBN</ion-text>
          </ion-col>
          <ion-col sizeXs="12" sizeXl="8">
            {{ book.isbn }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="button-panel">
  <ion-button color="danger" (click)="closeModal()" fill="outline" size="small">
    <ion-icon name="close-circle-outline"></ion-icon> close
  </ion-button>
  <ion-button color="primary" fill="outline" size="small"
    ><ion-icon name="bookmark"></ion-icon>Save</ion-button
  >
  <ion-button color="warning" fill="outline" size="small"
    ><ion-icon name="basket"></ion-icon>Reserve</ion-button
  >
</ion-footer>
