<ion-content padding>
  <app-loading *ngIf="!userInfo"></app-loading>
  <section *ngIf="userInfo">
    <ion-avatar style="margin: 0 auto">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
    </ion-avatar>
    <br />
    <ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col sizeXl="3">Name</ion-col>
          <ion-col>{{ userInfo.displayName }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXl="3">Contact Number</ion-col>
          <ion-col>{{ userInfo.phoneNumber }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXl="3">Email</ion-col>
          <ion-col>{{ userInfo.email }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeXl="3">Address</ion-col>
          <ion-col>
            <ion-row>Karawitawatta</ion-row>
            <ion-row>Sapugahawatta</ion-row>
            <ion-row>Dodangoda</ion-row>
          </ion-col>
        </ion-row>
        <br />
        <ion-row justify-content-center>
          <ion-col sizeXl="6">
            <ion-button expand="block" fill="outline" size="small" (click)="resetPassword()">
              Change Password
            </ion-button>
          </ion-col>
          <ion-col sizeXl="6">
            <ion-button expand="block" fill="outline" size="small"> Update picture</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
    <app-loading *ngIf="!topics"></app-loading>
    <ion-card *ngIf="topics">
      <ion-card-header>Subscribe for Library messages</ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let topic of (topics | async)">
          <ion-label>{{ topic.name }}</ion-label>
          <ion-toggle (ionChange)="stateChangeForTopic($event, topic.name)" [checked]="topic.state">
            Notices
          </ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
