<app-menu-title title="Profile"></app-menu-title>
<ion-content padding>
  <ion-avatar style="margin: 0 auto">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
  </ion-avatar>
  <br />
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>Name</ion-col>
        <ion-col>K.T.A.L. Karunathilake</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Contact Number</ion-col>
        <ion-col>071-3745857</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Email</ion-col>
        <ion-col>Manualsplash@gmail.com</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Type</ion-col>
        <ion-col>Student</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Address</ion-col>
        <ion-col>
          <ion-row>Karawitawatta</ion-row>
          <ion-row>Sapugahawatta</ion-row>
          <ion-row>Dodangoda</ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" size="small"> Forget Password</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" fill="outline" size="small"> Update picture</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
