<ion-card>
  <ion-card-header>
    <ion-card-title>Harry potter</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          Issue date - 2018/01/01
        </ion-col>
        <ion-col class="ion-text-end">
          Due date - 2018/01/8
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <div class="button-pannel">
    <ion-button size="small" (click)="transfer()">Transfer</ion-button>
    <ion-button color="danger" size="small">Pay</ion-button>
  </div>
</ion-card>
