<ion-card>
  <ion-card-header>
    <ion-card-title>{{ borrowDetails.title }}</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          Issue date - <span>{{ borrowDetails.issuedate }}</span>
        </ion-col>
        <ion-col class="ion-text-end">
          Due date -<span>{{ borrowDetails.date_due }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <div class="button-pannel">
    <ion-button size="small" (click)="transfer()">
      <!-- <ion-button size="small" (click)="transfer()" [disabled]="borrowDetails.status === 'overdue'"> -->
      Transfer
    </ion-button>
    <ion-button color="danger" size="small" *ngIf="borrowDetails.status === 'overdue'"
      >Pay</ion-button
    >
  </div>
</ion-card>
