.book-title {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: '#263238';
}

.book-author {
  font-size: 0.8rem;
  font-style: italic;
  color: '#607D8B';
}

.button-pannel {
  display: flex;
  justify-content: flex-end;
}

ion-grid {
  --ion-grid-padding: 0px;
}
