.checkbox-panel {
  display: flex;
}

#no-result {
  width: 100%;
  height: 80%;
  background: url(../../assets/img/backgrounds/no-result.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

ion-content {
  --backgroundL: url(../../assets/img/backgrounds/search-web.svg) no-repeat center center fixed;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  #before-search {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(../../assets/img/backgrounds/search-mobile.svg);
  }
}
