<app-menu-title title="Search"></app-menu-title>
<ion-content id="before-search">
  <section>
    <ion-searchbar
      animated="true"
      (ionChange)="searchForbooks($event.target.value)"
      debounce="1000"
    ></ion-searchbar>
    <div class="checkbox-panel">
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="titleCheckbox"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Authors</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="authorCheckbox"></ion-checkbox>
      </ion-item>
    </div>
    <app-animated-text text="Search  💬"></app-animated-text>
  </section>
  <div id="no-result" *ngIf="books !== undefined && books.length === 0"></div>
  <ion-card id="before-search" *ngIf="books === undefined && !loading"></ion-card>
  <book-search-view [book]="book" *ngFor="let book of books"></book-search-view>
  <!-- Skeleton view -->
  <div *ngIf="loading">
    <ion-list>
      <ion-item *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
