<app-menu-title title="Home"></app-menu-title>
<ion-content padding>
  <ion-slides [options]="sliderOptions">
    <ion-slide class="slide" *ngFor="let image of [1, 2, 3, 4, 5, 6, 7, 8]">
      <img
        src="../assets/img/sample-covers/{{ image }}.jpg"
        alt="image-{{ image }}"
        id="login-image"
      />
    </ion-slide>
  </ion-slides>
  <mat-card>
    <mat-card-title>Notices</mat-card-title>
    <div *ngFor="let notice of (notices | async)">{{ notice.message }}</div>
  </mat-card>

  <collapsible-list title="Borrowed"></collapsible-list>
  <collapsible-list title="Penalties"></collapsible-list>
</ion-content>
