<app-menu-title title="Home"></app-menu-title>
<ion-content padding>
  <ion-slides [options]="sliderOptions">
    <ion-slide class="slide" *ngFor="let image of [1, 2, 3, 4, 5, 6, 7, 8]">
      <img
        src="../assets/img/sample-covers/{{ image }}.jpg"
        alt="image-{{ image }}"
        id="login-image"
      />
    </ion-slide>
  </ion-slides>
  <mat-card id="notice-card">
    <mat-card-title>Notices</mat-card-title>
    <mat-card-content>
      <mat-card class="news" *ngFor="let notice of (notices | async)">
        <div style="display: flex;justify-content: space-between;align-items: center">
          <span class="notice-title">
            {{ notice.message }}
          </span>
          <ion-button size="small" fill="clear" (click)="noticeMoreDetails(notice)"
            >more</ion-button
          >
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <collapsible-list
    title="Borrowed"
    titleDescription="Find most recent borrowings"
    [borrowings]="borrowings"
  ></collapsible-list>
  <collapsible-list
    title="Penalties"
    [borrowings]="borrowings"
    titleDescription="Find most recent penalties"
  ></collapsible-list>
</ion-content>
