.news {
  border: 1px solid black;
  border-left-width: 3px;
  border-left-color: #00695c;
  border-left-style: solid;
  margin-bottom: 5px;
  padding: 2px;
}

#notice-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notice-title {
  font-size: 0.8rem;
  font-weight: bold;
}
