<app-menu-title title="Home"></app-menu-title>
<ion-content padding>
  <ion-slides [options]="sliderOptions">
    <ion-slide class="slide" *ngFor="let image of [1, 2, 3, 4, 5, 6, 7, 8]">
      <img
        src="../assets/img/sample-covers/{{ image }}.jpg"
        alt="image-{{ image }}"
        id="login-image"
      />
    </ion-slide>
  </ion-slides>
  <mat-card>
    <mat-card-title>Notices</mat-card-title>
    <div *ngFor="let notice of (notices | async)">{{ notice.message }}</div>
  </mat-card>

  <!-- <ion-list>
    <ion-item color="primary">Borrowed Books</ion-item>
    <ion-item color="warning">Due Books</ion-item>
    <ion-item color="danger">Fined Books</ion-item>
  </ion-list> -->
  <collapsible-list title="Borrowings"></collapsible-list>
  <collapsible-list title="Overdues"></collapsible-list>
  <ion-button (click)="getPermission()">Permission</ion-button>
  <ion-button (click)="fcm.sub('notices')">subscribe</ion-button>
</ion-content>
